.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    box-shadow: 0 1px 3px -2px #000;
    margin-bottom: 1px;
    background-color: #fff;
}
.nav-logo{
    width: 200px;
}
.nav-profile{
    width: 60px;
    border: 1px solid #0808;
    border-radius: 50px;
}
@media only screen and ( max-width: 800px ) {
    .navbar{
        padding: 15px 30px;
    }
    .nav-logo{
        width: 150px;
        font-size: 25px;
    }
    .nav-profile{
        width: 50px;
    }
    
}